<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Pan </title>

    <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header> <header-title>pan</header-title> </header>
<main>
    <div class="main-flex">
        <div class="file-type">
            <ul class="">
                <li> 全部 </li>
                <li> 文件 </li>
                <li> 视频 </li>
                <li> 图片 </li>
            </ul>
        </div>
        <div class="file-list">

        </div>
    </div>

</main>
<script>

</script>
</body>
</html>